.footer {
    background-color: #007BFF;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .footer a {
    color: white;
    font-size: 24px;
    transition: color 0.2s ease-in-out;
  }
  
  .footer a:hover {
    color: #d1e0e7;
  }