.navigation {
    display: flex;
    gap: 20px;
}
  
.navigation a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
  
.navigation a:hover {
    color: #d1e0e7;
    text-decoration: underline;
}

.navigation .active-link {
    background-color: black;
    border-radius: 5px;
    color: rgb(255, 255, 255); 
    padding: 5px 10px;
}