/* Main container styling for the contact form */
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #78b4f5;
}

/* Styling for the contact form */
.contact-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

/* Label styling for form fields */
.contact-form label {
    display: block;
    margin-bottom: 15px;
    color: #333;
}

.contact-form span {
    color: red;
}

/* Styling for input fields and textarea within the form */
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #f2f2f2;
}

.contact-form textarea {
    height: 100px;
    resize: none;
}

/* Submit button styling for the form */
.contact-form button {
    display: block;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #74b2f0;
}

/* Additional styles for form elements */
.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-error {
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: -20px;
    left: 0;
    display: none;
}

/* Styles to display error message when input is invalid */
input:invalid + .input-error {
    display: block;
}